node_modules
npm-debug.log
__test__
.git
.github
.husky
.vscode
assets
docs
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.prettierrc
commitlint.config.js
docker-compose.yaml
example.env
jest.config.js
nodemon.json
package-lock.json
README.md
